{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wellcom to homepage!</h1>
    <a href="{{ path('app_organization') }}">Go to organization</a><br />
    <a href="{{ path('app_users') }}">Go to users</a><br />
    <a href="{{ path('app_job') }}">Go to job</a>
{% endblock %}
