{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path('app_organization') }}">Go to organization</a><br />
    <a href="{{ path('app_users') }}">Go to users</a><br />
    <a href="{{ path('app_job') }}">Go to job</a>
{% endblock %}
